repos:

    # Clear output from jupyter notebooks so that only the input cells are committed.
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        description: Clear output from Jupyter notebooks.
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

    # Run unit tests, verify that they pass
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        description: Run unit tests with pytest.
        entry: pytest --cov=. --cov-report=html
        language: system
        pass_filenames: false
        always_run: true

    # prevents committing directly branches named 'main' and 'master'.
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        name: Don't commit to main or master branch
        description: Prevent the user from committing directly to the primary branch.

    # verify that pyproject.toml is well formed
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.12.1
    hooks:
      - id: validate-pyproject
        name: Validate syntax of pyproject.toml
        description: Verify that pyproject.toml adheres to the established schema.

    # Automatically sort the imports used in .py files
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        description: Sort and organize imports in .py files.

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
