[project]
name = "{{project_name}}"
license = {file = "LICENSE"}
readme = "README.md"
authors = [
    { name = "{{author_name}}", email = "{{author_email}}" }
]
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
]
dynamic = ["version"]
dependencies = [
    "deprecated",
    "ipykernel", # Support for Jupyter notebooks
]

# On a mac, install optional dependencies with `pip install '.[dev]'` (include the single quotes)
[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov", # Used to report total code coverage
    "pre-commit", # Used to run checks before finalizing a git commit
    "nbconvert", # Needed for pre-commit check to clear output from Python notebooks
    "sphinx==6.1.3", # Used to automatically generate documentation
    "sphinx_rtd_theme==1.2.0", # Used to render documentation
    "sphinx-autoapi==2.0.1", # Used to automatically generate api documentation
{% if preferred_linter == 'pylint' %}
    "pylint", # Used for static linting of files
{% elif preferred_linter == 'black' %}
    "black", # Used for static linting of files
{% endif %}
]

[build-system]
requires = [
    "setuptools>=45", # Used to build and package the Python project
    "setuptools_scm>=6.2", # Gets release version from git. Makes it available programmatically
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/{{module_name}}/_version.py"

{% if preferred_linter == 'pylint' %}

[tool.pylint.'MESSAGES CONTROL']
disable = """
    missing-module-docstring,
"""
ignore-patterns = "^_.*" # Ignore files that start with an underscore, i.e. _version.py

{% elif preferred_linter == 'black' %}

[tool.black]
line-length = 110

{% endif %}
