[project]
name = "{{project_name}}"
license = {file = "LICENSE"}
readme = "README.md"
authors = [
    { name = "{{author_name}}"{% if author_email %}, email = "{{author_email}}"{% endif %} }
]
classifiers = [
    "Development Status :: 4 - Beta",
{%- if project_license == 'MIT' %}
    "License :: OSI Approved :: MIT License",
{%- elif project_license == 'BSD' %}
    "License :: OSI Approved :: BSD License",
{%- endif %}
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
]
dynamic = ["version"]
dependencies = [
{%- if include_notebooks %}
    "ipykernel", # Support for Jupyter notebooks
{%- endif %}
]

[project.urls]
"Source Code" = "https://github.com/{{project_organization}}/{{project_name}}"

# On a mac, install optional dependencies with `pip install '.[dev]'` (include the single quotes)
[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov", # Used to report total code coverage
    "pre-commit", # Used to run checks before finalizing a git commit
{%- if include_docs %}
    "sphinx", # Used to automatically generate documentation
    "sphinx-rtd-theme", # Used to render documentation
    "sphinx-autoapi", # Used to automatically generate api documentation
{%- endif %}
{%- if preferred_linter == 'pylint' %}
    "pylint", # Used for static linting of files
{%- elif preferred_linter == 'black' %}
    "black", # Used for static linting of files
{%- endif %}
{%- if mypy_type_checking != 'none' %}
    "mypy", # Used for static type checking of files
{%- endif %}
{%- if include_notebooks %}
    # if you add dependencies here while experimenting in a notebook and you
    # want that notebook to render in your documentation, please add the
    # dependencies to ./docs/requirements.txt as well.
    "nbconvert", # Needed for pre-commit check to clear output from Python notebooks
    "nbsphinx", # Used to integrate Python notebooks into Sphinx documentation
    "ipython", # Also used in building notebooks into Sphinx
{%- endif %}
{%- if include_benchmarks %}
    "asv==0.6.1", # Used to compute performance benchmarks
{%- endif %}
]

[build-system]
requires = [
    "setuptools>=62", # Used to build and package the Python project
    "setuptools_scm>=6.2", # Gets release version from git. Makes it available programmatically
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/{{package_name}}/_version.py"

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.black]
line-length = 110
target-version = ["py38"]

[tool.isort]
profile = "black"
line_length = 110

{%- if mypy_type_checking != 'none' %}
[tool.setuptools.package-data]
{{package_name}} = ["py.typed"]
{%- endif %}

[tool.coverage.run]
omit=["src/{{package_name}}/_version.py"]
