# This workflow will install Python dependencies, then perform static analysis for code style and type checking.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Code Style analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: {{ python_versions }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python {% raw %}${{ matrix.python-version }}{% endraw %}
      uses: actions/setup-python@v4
      with:
        python-version: {% raw %}${{ matrix.python-version }}{% endraw %}
    - name: Install dependencies
      run: |
        sudo apt-get update
        python -m pip install --upgrade pip
        pip install .
        pip install .[dev]
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
{%- if mypy_type_checking == 'basic' -%}
    - name: Analyze code with mypy
      run: |
        mypy ./src ./tests --ignore-missing-imports
{%- elif mypy_type_checking == 'strict' -%}
    - name: Analyze code with mypy
      run: |
        mypy ./src ./tests --strict
{%- endif -%}
{%- if 'black' in enforce_style -%}
    - name: Analyze code for black formatting
      run: |
        black --check .
{%- endif -%}
{%- if 'pylint' in enforce_style -%}
    - name: Analyze code with pylint
      run: |
        pylint -rn -sn --recursive=y ./src --rcfile=./src/.pylintrc
        pylint -rn -sn --recursive=y ./tests --rcfile=./tests/.pylintrc
{%- if include_benchmarks %}
        pylint -rn -sn --recursive=y ./benchmarks --rcfile=./tests/.pylintrc
{%- endif -%}
{%- endif -%}
{%- if 'ruff' in enforce_style -%}
    - name: Analyze code with ruff
       ruff format --check
       ruff check
{%- endif -%}