# This workflow will run daily at 06:45.
# It will install Python dependencies and run tests with a variety of Python versions.
# See documentation for help debugging smoke test issues:
#    https://lincc-ppt.readthedocs.io/en/latest/practices/ci_testing.html#version-culprit

name: Unit test smoke test

on:

  # Runs this workflow automatically
  schedule:
    - cron: 45 6 * * *
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: {{ python_versions }}

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python {% raw %}${{ matrix.python-version }}{% endraw %}
      uses: actions/setup-python@v5
      with:
        python-version: {% raw %}${{ matrix.python-version }}{% endraw %}
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Install dependencies
      run: |
        sudo apt-get update
        uv pip install --system -e .[dev]
        if [ -f requirements.txt ]; then uv pip install --system -r requirements.txt; fi
    - name: List dependencies
      run: |
        pip list
    - name: Run unit tests with pytest
      run: |
        python -m pytest
{%- if 'email' in failure_notification %}
    - name: Send status to author's email      
      if: {% raw %}${{ failure() }} && github.event_name != 'workflow_dispatch' }}{% endraw %} # Only email if the workflow failed and was not manually started. Customize this as necessary.
      uses: dawidd6/action-send-mail@v3
      with:
        # Required mail server address if not connection_url:
        server_address: smtp.gmail.com
        # Server port: (uses TLS by default if server_port is 465)
        server_port: 465

        # Mail server username:
        username: {% raw %}${{secrets.MAIL_USERNAME}}{% endraw %}
        # Mail server password:
        password: {% raw %}${{secrets.MAIL_PASSWORD}}{% endraw %}
        # Required recipients' addresses:
        to: {{ author_email }}

        # Required mail subject:
        subject: {% raw %}Smoke test ${{ job.status }} in ${{github.repository}}{% endraw %}
        # Required sender full name:
        from: GitHub Actions Report
        # Optional body:
        html_body: {% raw %}|
          <!DOCTYPE html>
          <html>
          <body>
          <h3>Smoke test ${{ job.status }}</h3>
          <p>The smoke test in <b>${{ github.repository }}</b> has completed with result: <b>${{ job.status }}</b></p>
          <p><a href="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}">
          ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          </a></p>
          </body>
          </html>
          {% endraw %}
{%- endif %}
{%- if 'slack' in failure_notification %}
    {%- raw %}
    - name: Send status to Slack app
      if: ${{ failure() && github.event_name != 'workflow_dispatch' }}
      id: slack
      uses: slackapi/slack-github-action@v2
      with:
        # For posting a rich message using Block Kit
        webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
        webhook-type: webhook-trigger
        payload: |
          {
            "blocks": [
              {
                "type": "header",
                "text": {
                  "type": "plain_text",
                  "text": "${{ github.repository }}"
                }
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "GitHub Action build result: *${{ job.status }}* :${{ job.status }}:"
                }
              },
              {
                "type": "divider"
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                }
              }
            ]
          }
    {%- endraw %}
{%- endif %}