# This workflow will install Python dependencies, then perform static linting analysis.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        sudo apt-get update
        python -m pip install --upgrade pip
        pip install .
        pip install .[dev]
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Analyze code with linter
{%- if preferred_linter == 'pylint' %}
      run: |
        pylint -rn -sn --recursive=y ./src --rcfile=./src/.pylintrc
        pylint -rn -sn --recursive=y ./tests --rcfile=./tests/.pylintrc
{%- if include_benchmarks %}
        pylint -rn -sn --recursive=y ./benchmarks --rcfile=./tests/.pylintrc
{%- endif %}
{%- elif preferred_linter == 'black' %}
      uses: psf/black@stable
      with:
        src: ./src
{%- elif preferred_linter == 'ruff' %}
      run: |
        ruff check --output-format=github .
{%- endif %}
