# This workflow will run daily at 06:45.
# It will run benchmarks with airspeed velocity (asv)
# and compare performance with the previous nightly build.

name: Run benchmarks nightly job

on:
  schedule:
    - cron: 45 6 * * *

env:
  PYTHON_VERSION: "3.10"
  WORKING_DIR: {% raw %}${{ github.workspace }}{% endraw %}/benchmarks
  NIGHTLY_HASH_FILE: nightly-hash

jobs:

  asv-nightly:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: {% raw %}${{ env.WORKING_DIR }}{% endraw %}

    steps:
      - name: Checkout main branch of the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Cache Python {% raw %}${{ env.PYTHON_VERSION }}{% endraw %}
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: python-{% raw %}${{ env.PYTHON_VERSION }}{% endraw %}

      - name: Set up Python {% raw %}${{ env.PYTHON_VERSION }}{% endraw %}
        uses: actions/setup-python@v4
        with:
          python-version: "{% raw %}${{ env.PYTHON_VERSION }}{% endraw %}"

      - name: Install dependencies
        run: |
          sudo apt-get update
          python -m pip install --upgrade pip
          pip install asv virtualenv

      - name: Create ASV machine config file
        run: asv machine --machine gh-runner --yes

      - name: Get nightly dates under comparison
        id: nightly-dates
        run: |
          echo "yesterday=$(date -d yesterday +'%Y-%m-%d')" >> $GITHUB_OUTPUT
          echo "today=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Use last nightly commit hash from cache
        uses: actions/cache@v3
        with:
          path: {% raw %}${{ env.WORKING_DIR }}{% endraw %}
          key: nightly-results-{% raw %}${{ steps.nightly-dates.outputs.yesterday }}{% endraw %}

      - name: Run comparison of main against last nightly build
        run: |
          if [ -f {% raw %}${{ env.NIGHTLY_HASH_FILE}}{% endraw %} ]; then          
            PREV_HASH=$(cat {% raw %}${{ env.NIGHTLY_HASH_FILE }}{% endraw %})
            asv continuous $PREV_HASH {% raw %}${{ github.sha }}{% endraw %}  || true
            asv compare $PREV_HASH {% raw %}${{ github.sha }}{% endraw %} --sort ratio
          fi
          echo {% raw %}${{ github.sha }}{% endraw %} > {% raw %}${{ env.NIGHTLY_HASH_FILE }}{% endraw %}

      - name: Update last nightly hash in cache
        uses: actions/cache@v3
        with:
          path: {% raw %}${{ env.WORKING_DIR }}{% endraw %}
          key: nightly-results-{% raw %}${{ steps.nightly-dates.outputs.today }}{% endraw %}