{%- import 'python-versions.jinja' as py %}
# This workflow will install Python dependencies, build the package and then build the documentation.

name: Build documentation


on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python {{ py.pref(python_versions) }}
      uses: actions/setup-python@v5
      with:
        python-version: '{{ py.pref(python_versions) }}'
    - name: Install dependencies
      run: |
        sudo apt-get update
        python -m pip install --upgrade pip
        if [ -f docs/requirements.txt ]; then pip install -r docs/requirements.txt; fi
        pip install .
{%- if include_notebooks %}
    - name: Install notebook requirements
      run: |
        sudo apt-get install pandoc
{%- endif %}
    - name: Build docs
      run: |
        sphinx-build -T -E -b html -d docs/build/doctrees ./docs docs/build/html
