.. {{module_name}} documentation master file, created by
   sphinx-quickstart on Thu Feb  2 12:58:01 2023.
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.

Welcome to {{module_name}}'s documentation!
===================================

.. toctree::
   :hidden:

   Home page <self>
   API reference <_autosummary/{{module_name}}>
