name: CI for Template

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: ${{ matrix.copier_config.name }} - Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        copier_config:
          - name: Base example
            module_name: example_project #The default module_name
            extra_flags: ''
            foldername: base_example
          - name: Provide non-default answers
            module_name: 'drewtonian' # Same module name provided in `extra_flags` on the next line.
            extra_flags: '--data project_name=new_science --data module_name=drewtonian --data author_name=Drew --data author_email=ao@aol.com'
            foldername: 'non_default_answers'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: |
        sudo apt-get update
        python -m pip install --upgrade pip
        python -m pip install copier
    - name: Generate package
      run: |
        copier --vcs-ref HEAD --defaults ${{ matrix.copier_config.extra_flags }} copy ./ ../test/${{ matrix.copier_config.foldername }}
        cd ../test/${{ matrix.copier_config.foldername }}
        cat .copier-answers.yml
    - name: Build package
      run: |
        cd ../test/${{ matrix.copier_config.foldername }}
        pip install .
        pip install .[dev]
    - name: pylint checks
      run: |
        cd ../test/${{ matrix.copier_config.foldername }}
        python -m pylint --recursive=y ./src/ --rcfile=./src/.pylintrc
    - name: black checks
      uses: psf/black@stable
      with:
        src: "../test/${{ matrix.copier_config.foldername }}/src"
    - name: Install notebook requirements
      if: ${{ true }}
      run: |
        sudo apt-get install pandoc
        pip install -r ../test/${{ matrix.copier_config.foldername }}/docs/requirements.txt
        cat ../test/${{ matrix.copier_config.foldername }}/docs/requirements.txt
    - name: Build docs
      run: |
        cd ../test/${{ matrix.copier_config.foldername }}
        sphinx-build -T -E -b html -d docs/build/doctrees ./docs docs/build/html
    - name: Tests
      run: |
        cd ../test/${{ matrix.copier_config.foldername }}
        python -m pytest tests --cov=${{ matrix.copier_config.module_name }} --cov-report=xml
