name: CI for Template

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: ${{ matrix.copier_config.name }} - Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        copier_config:
          - name: Base example
            package_name: example_package # The default package_name
            extra_flags: ''
            foldername: base_example
          - name: Black w/o example module
            package_name: 'drewtonian' # Same module name provided in `extra_flags` on the next line.
            extra_flags: >-
              --data project_name=new_science
              --data package_name=drewtonian
              --data author_name=Drew
              --data author_email=ao@aol.com
              --data preferred_linter=black
              --data use_isort=false
              --data mypy_type_checking=basic
              --data create_example_module=no
              --data use_gitlfs=disabled
            foldername: 'black_w_o_example_module'
          - name: Black w/ example
            package_name: 'drewtonian' # Same module name provided in `extra_flags` on the next line.
            extra_flags: >-
              --data project_name=new_science
              --data package_name=drewtonian
              --data author_name=Drew
              --data author_email=ao@aol.com
              --data preferred_linter=black
              --data use_isort=false
              --data mypy_type_checking=basic
              --data create_example_module=yes
              --data use_gitlfs=disabled
            foldername: 'black_w_example_module'
          - name: Pylint w/o example
            package_name: 'drewtonian' # Same module name provided in `extra_flags` on the next line.
            extra_flags: >-
              --data project_name=new_science
              --data package_name=drewtonian
              --data author_name=Drew
              --data author_email=ao@aol.com
              --data preferred_linter=pylint
              --data use_isort=false
              --data mypy_type_checking=basic
              --data create_example_module=no
              --data use_gitlfs=disabled
            foldername: 'pylint_w_o_example_module'

    steps:
    
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install Python dependencies
      run: |
        sudo apt-get update
        python -m pip install --upgrade pip
        python -m pip install copier mypy
    
    - name: Generate package
      run: |
        copier copy --vcs-ref HEAD --defaults ${{ matrix.copier_config.extra_flags }} ./ ../test/${{ matrix.copier_config.foldername }}
        cd ../test/${{ matrix.copier_config.foldername }}
        cat .copier-answers.yml
    
    - name: Build package
      run: |
        cd ../test/${{ matrix.copier_config.foldername }}
        git init --initial-branch=main
        pip install .
        pip install .[dev]
    
    - name: pylint checks
      if: ${{ contains (matrix.copier_config.name, 'Base') }}
      run: |
        cd ../test/${{ matrix.copier_config.foldername }}
        python -m pylint --recursive=y ./src/rail --rcfile=./src/rail/${{ matrix.copier_config.package_name }}/.pylintrc
   
    - name: black checks
      if: ${{ contains(matrix.copier_config.extra_flags, 'preferred_linter=black') }}
      uses: psf/black@stable
      with:
        src: "../test/${{ matrix.copier_config.foldername }}/src/rail"
   
    - name: mypy checks basic
      if: ${{ contains(matrix.copier_config.extra_flags, 'mypy_type_checking=basic') && !contains(matrix.copier_config.extra_flags, 'create_example_module=no') }}
      run: |
        cd "../test/${{ matrix.copier_config.foldername }}"
        mypy src
        mypy tests
   
    - name: mypy checks strict
      if: ${{ contains(matrix.copier_config.extra_flags, 'mypy_type_checking=strict') && !contains(matrix.copier_config.extra_flags, 'create_example_module=no') }}
      run: |
        cd "../test/${{ matrix.copier_config.foldername }}"
        mypy --strict src
        mypy --strict tests

    - name: Tests
      if: ${{ !contains(matrix.copier_config.extra_flags, 'create_example_module=no') }}
      run: |
        cd ../test/${{ matrix.copier_config.foldername }}
        python -m pytest tests --cov=rail/${{ matrix.copier_config.package_name }} --cov-report=xml
