name: CI for Template

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        name: ['Base example']
        module_name: ['example_project'] #The default module_name
        extra_flags: ['']
        foldername: ['base_example']
        include:
          - name: Provide non-default answers
            module_name: 'drewtonian' # Same module name provided in `extra_flags` on the next line.
            extra_flags: '--data project_name=new_science --data module_name=drewtonian --data author_name=Drew --data author_email=ao@aol.com'
            foldername: 'non_default_answers'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: |
        sudo apt-get update
        python -m pip install --upgrade pip
        python -m pip install copier
    - name: Generate package
      run: |
        copier --vcs-ref HEAD --defaults ${{ matrix.extra_flags }} copy ./ ../test/${{ matrix.foldername }}
        cd ../test/${{ matrix.foldername }}
        cat .copier-answers.yml
    - name: Build package
      run: |
        cd ../test/${{ matrix.foldername }}
        pip install .
        pip install .[dev]
    - name: pylint checks
      run: |
        cd ../test/${{ matrix.foldername }}
        python -m pylint --recursive=y ./src/
    - name: black checks
      uses: psf/black@stable
      with:
        src: "../test/${{ matrix.foldername }}/src"
    - name: Build docs
      run: |
        cd ../test/${{ matrix.foldername }}
        sphinx-build -T -E -b html -d docs/build/doctrees ./docs docs/build/html
    - name: Tests
      run: |
        cd ../test/${{ matrix.foldername }}
        python -m pytest tests --cov=${{ matrix.module_name }} --cov-report=xml